# Required
NOTION_TOKEN=
NOTION_STAFF_DB_ID=

# Schedule module
NOTION_SHIFT_MASTER_DB_ID=
NOTION_SCHEDULE_DB_ID=

# Optional modules
NOTION_TIMESHEET_DB_ID=
NOTION_TRAINING_DB_ID=
NOTION_PROGRAMS_DB_ID=
